@model ClickServ2022.Models.OrdemServico

@{
    ViewData["Title"] = "Create";
}

<hr />
<form asp-action="Create">
    <div class="form-row">
        <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Equipamento.Endereco.EnderecoID" class="form-control" type="hidden" />
                <input name="redirecionar" value="@ViewBag.Redirecionar" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="Equipamento.EquipamentoID" class="form-control" type="hidden" />
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label asp-for="OrdemServicoID" class="control-label"></label>
                <input asp-for="OrdemServicoID" id="os" value="" class="form-control" autofocus onblur="enviar()" required />
                <span asp-validation-for="OrdemServicoID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <select asp-for="Categoria"
                        asp-items="@ViewBag.Categoria" class="form-control">
                </select>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <input asp-for="Defeito" class="form-control" placeholder="Defeito" required />
            <span asp-validation-for="Defeito" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input asp-for="Relatorio" class="form-control" placeholder="Relatório técnico" />
            <span asp-validation-for="Relatorio" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input asp-for="Observacao" class="form-control" placeholder="Observação" />
            <span asp-validation-for="Observacao" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-2">
            <div class="form-group">
                <select asp-for="Colaborador"
                        asp-items="@ViewBag.Tecnico" class="form-control">
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Salvar" id="botao" class="btn btn-primary" onclick="valida_form()}" />
        <input type="button" value="Voltar" onclick="btnVoltar()" class="btn btn-primary" />
    </div>
</form>


@section Scripts {

    <script src="~/js/valida-ordem-servico.js"></script>
    <script src="~/js/btn-voltar.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
