@model ClickServ2022.Models.OrdemServico

@{
    ViewData["Title"] = "Create";
}
<script type="text/javascript">
    function enviar() {
        //Se o campo Ordem de Serviço estiver vazio a função não roda
        if(document.getElementById("os").value != ""){

            //Envia um POST para o Action OrdemServico/ValidarOS
            $.ajax({
                type: 'POST',
                url: '/OrdemServico/ValidarOS',
                //Pega o valor do campo Ordem de Serviço
                data: { "os": $("#os").val() },

                success: function (data){
                    const obj = {data};
                    const myJSON = JSON.stringify(obj.data);

                    //Caso já tenha a ordem de serviço que foi digitada cadastrada no sistema entra no if
                    if(obj.data == 1){
                        alert("Ordem de serviço já cadastrada!");
                        //Limpa o campo ordem de serviço
                        document.getElementById("os").value = '';
                     }
                },
            });
        }

    };
</script>

<hr />
<form asp-action="Create">
    <div class="form-row">
        <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Equipamento.EquipamentoID" class="form-control" type="hidden" />
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label asp-for="OrdemServicoID" class="control-label"></label>
                <input asp-for="OrdemServicoID" id="os" value="" class="form-control" autofocus onblur="enviar()" required />
                <span asp-validation-for="OrdemServicoID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" value="0" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <input asp-for="Defeito" class="form-control" placeholder="Defeito" />
            <span asp-validation-for="Defeito" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input asp-for="Relatorio" class="form-control" placeholder="Relatório técnico" />
            <span asp-validation-for="Relatorio" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-2">
            <div class="form-group">
                <select asp-for="Colaborador"
                        asp-items="@ViewBag.Tecnico" class="form-control">
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Salvar" id="botao" class="btn btn-primary" onclick="valida_form()}" />
        @Html.ActionLink("Cancelar", "Index","Home",null, new { @class = "btn btn-danger"})
    </div>
</form>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
