@model ClickServ2022.Models.Sistema

@{
    ViewData["Title"] = "Addicionar Sistema";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSistema">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeSistema" class="control-label"></label>
                <input asp-for="NomeSistema" class="form-control" />
                <span asp-validation-for="NomeSistema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
                @Html.ActionLink("Voltar", "Details","Contrato", new { id = Model.Cliente.ClienteID }, new { @class = "btn btn-primary"})
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
