@model ClickServ2022.Models.Equipamento

@{
    ViewData["Title"] = "Create";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" name="equipamento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <div class="form-group">
                    <input asp-for="Cliente.ClienteID" class="form-control" type="hidden" />
                </div>
                <div class="form-group">
                    <input asp-for="Endereco.EnderecoID" class="form-control" type="hidden" />
                </div>
            </div>
            <div class="form-group">
                <p>Tipo</p>
                <select asp-for="Tipo" id="equip" onclick="loadFabricante()">
                    <option value="" selected="selected">Selecione</option>
                </select>
            </div>
            <div class="form-group">
                <p>Fabricante</p>
                 <select asp-for="Fabricante" id="fabri"  onclick="loadModelo()">
                <option value="" selected="selected">Selecione</option>
                </select>
            </div>
            <div class="form-group">
                <p>Modelo</p>
                 <select asp-for="Modelo" id="model">
                 <option value="" selected="selected">Selecione</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="NSerie" class="control-label"></label>
                <input asp-for="NSerie" class="form-control" />
                <span asp-validation-for="NSerie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
                @Html.ActionLink("Voltar", "Details", "Endereco", new { id = Model.Endereco.EnderecoID},new { @class = "btn btn-primary"})
            </div>
        </form>
    </div>
</div>

@section Scripts {

    <script src="~/js/select-equipamento.js"></script>

    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
