@model ClickServ2022.Models.Equipamento

@{
    ViewData["Title"] = "Create";
}

<hr />
<div class="row">
    <div>
        <form asp-action="Create" name="equipamento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="tipoEnderecoSistema" value="@ViewBag.tipoEnderecoSistema" />
            <input asp-for="Cliente.ClienteID" type="hidden" />

            <div class="form-group">
                <select asp-for="Cliente.Equipamento.Tipo" id="equip" class="form-control" onclick="loadFabricante()">
                    <option value="" selected="selected">Selecione o tipo de equipamento</option>
                </select>
            </div>
            <div class="form-group">
                <select asp-for="Cliente.Equipamento.Gas" id="gas" class="form-control">
                    <option value="" selected="selected">Tipo de gás</option>
                    <option value="GN">GN</option>
                    <option value="GLP">GLP</option>
                </select>
            </div>
            <div class="form-group">
                <p>Fabricante</p>
                <select asp-for="Cliente.Equipamento.Fabricante" id="fabri" class="form-control" onclick="loadModelo()">
                    <option value="" selected="selected">Selecione o fabricante</option>
                </select>
            </div>
            <div class="form-group">
                <p>Modelo</p>
                <select asp-for="Cliente.Equipamento.Modelo" id="model" class="form-control">
                    <option value="" selected="selected">Selecione o modelo</option>
                </select>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <input asp-for="Cliente.Equipamento.NSerie" class="form-control" placeholder="Nº de série" />
                    <span asp-validation-for="NSerie" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
                <input type="button" value="Voltar" onclick="btnVoltar()" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {

    <script src="~/js/select-equipamento.js"></script>
    <script src="~/js/btn-voltar.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
