@model ClickServ2022.Models.Equipamento

@{
    ViewData["Title"] = "Edit";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            
             <div class="form-group">
                <input asp-for="Cliente.ClienteID" class="form-control" type="hidden" />
            </div>

            <div class="form-group">
                <input asp-for="EquipamentoID" class="form-control" type="hidden" />
            </div>


           <div class="form-group">
                <p>Tipo</p>
                <select asp-for="Tipo" id="equip" onchange="loadFabricante()">
                    <option value="" selected="selected">Selecione</option>
                </select>
            </div>
            <div class="form-group">
                <p>Fabricante</p>
                 <select asp-for="Fabricante" id="fabri"  onchange="loadModelo()">
                <option value="" selected="selected">Selecione</option>
                </select>
            </div>
            <div class="form-group">
                <p>Modelo</p>
                 <select asp-for="Modelo" id="model">
                 <option value="" selected="selected">Selecione</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="NSerie" class="control-label"></label>
                <input asp-for="NSerie" class="form-control" />
                <span asp-validation-for="NSerie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                 @Html.ActionLink("Voltar", "Details","Endereco", new { id = Model.Endereco.EnderecoID}, new { @class = "btn btn-primary" })
            </div>
        </form>
    </div>
</div>

<script>
window.onload = 
 function loadEquipamento(){
    fetch('/Equipamento/Equipamento', {
        method: 'GET',
        headers: {'Content-Type':'application/json;charset=UTF-8'}, 
    })
    .then(T => T.json())
    .then(tipo => {
       for (let objJSON of tipo) {
        console.log(objJSON);            
        //popular select
        const 
        tiposSelect = document.getElementById("equip");
        
        const tiposList = {
            tipo: objJSON.equipamento
        };
        
        for(tipo in tiposList) {
            option = new Option(tiposList[tipo], tiposList[tipo]);
            tiposSelect.options[tiposSelect.options.length] = option;
        }
        //fim select
        }
    })
}

function loadFabricante(){
    clearFabricante();
    clearModel();
    var select = document.getElementById("equip");
    var opcaoTexto = select.options[select.selectedIndex].text;
    var fabri = 'fabri='+opcaoTexto

    fetch('/Equipamento/Fabricante', {
        method: 'POST',
        headers: {'Content-Type': 'application/x-www-form-urlencoded'}, 
        body: fabri
    })
    .then(T => T.json())
    .then(fabricante => {

        for (let objJSON of fabricante) {         
            //popular select
            const fabricantesSelect = document.getElementById("fabri");
            
            const fabricantesList = {
                tipo: objJSON.nomeFabricante
            };
                    
        for(fabri in fabricantesList) {
            option = new Option(fabricantesList[fabri], fabricantesList[fabri]);
            fabricantesSelect.options[fabricantesSelect.options.length] = option;
        }
            //fim select
        }
    })
}

function loadModelo(){
    clearModel();
    var select = document.getElementById("fabri");
    var opcaoTexto = select.options[select.selectedIndex].text;
    var model = 'model='+opcaoTexto

    fetch('/Equipamento/Modelo', {
        method: 'POST',
        headers: {'Content-Type': 'application/x-www-form-urlencoded'}, 
        body: model
    })
    .then(T => T.json())
    .then(modelo => {

        for (let objJSON of modelo) {
            console.log(objJSON);           
            //popular select
            const modelosSelect = document.getElementById("model");
            
            const modelosList = {
                tipo: objJSON.nomeModelo
            };
                    
        for(model in modelosList) {
            option = new Option(modelosList[model], modelosList[model]);
            modelosSelect.options[modelosSelect.options.length] = option;
        }
           //fim select
        }
    })
}

function clearFabricante(){
    var fabri = document.getElementById("fabri");

    while(fabri.length){
        fabri.remove(0);
    }
}

function clearModel(){
     var model = document.getElementById("model");

    while(model.length){
        model.remove(0);
    }
}
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
