@model ClickServ2022.Models.Cliente

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <input asp-for="Nome" class="form-control" required placeholder="Nome" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <input maxlength="14" asp-for="CPF" class="form-control" placeholder="CPF/CNPJ" />
            <span asp-validation-for="CPF" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <div class="input-group-prepend">
                <span class="input-group-text" id="validationTooltipUsernamePrepend">Buscar endereço por CEP</span>
                <input name="cep" type="text" id="cep" maxlength="8" class="form-control" />
                <input type="button" value="Buscar" class="btn btn-primary" onclick="pesquisacep();" />
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <input asp-for="Endereco.Logradouro" name="logradouro" id="logradouro" class="form-control" placeholder="Logradouro" required />
            <span asp-validation-for="Endereco.Logradouro" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <input asp-for="Endereco.Bairro" name="bairro" type="text" id="bairro" class="form-control" placeholder="Bairro" />
            <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <input asp-for="Endereco.Cidade" name="cidade" id="cidade" class="form-control" placeholder="Cidade" />
            <span asp-validation-for="Endereco.Cidade" class="text-danger"></span>
        </div>
        <div class="form-group col-md-1">
            <input asp-for="Endereco.Uf" name="uf" id="uf" class="form-control" placeholder="UF" />
            <span asp-validation-for="Endereco.Uf" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <input asp-for="Endereco.Complemento" class="form-control" placeholder="Complemento" />
            <span asp-validation-for="Endereco.Complemento" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <input asp-for="Endereco.Observacao" class="form-control" placeholder="Observação" />
            <span asp-validation-for="Endereco.Observacao" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Criar" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
    </div>
</form>

@section Scripts {
    <!-- Adicionando JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

    <script src="~/js/cep.js"></script>
    <script src="~/js/select-equipamento.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        }
