@model ClickServ2022.Models.Atendimento

@{
    ViewData["Title"] = "Create";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Equipamento.EquipamentoID" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                 <p>Tipo de atedimento</p>
                <select name="Tipo" class="form-control">
                    <option>Novo</option>
                    <option>Retorno</option>
                    <option>Garantia</option>
                </select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Defeito" class="control-label"></label>
                <input asp-for="Defeito" class="form-control" />
                <span asp-validation-for="Defeito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Período</p>
                <select name="Periodo" class="form-control">
                    <option>Manhã</option>
                    <option>Tarde</option>
                </select>
                <span asp-validation-for="Periodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <p>Status do atedimento</p>
                <select name="Status" class="form-control">
                    <option>Ativo</option>
                    <option>Aguardando Aprovação</option>
                    <option>Aguardando Peça</option>
                    <option>Cancelado</option>
                    <option>Concluído</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacao" class="control-label"></label>
                <input asp-for="Observacao" class="form-control" />
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Técnico</p>
                <select asp-for="Colaborador.Nome"
                        asp-items="@ViewBag.Tecnico" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
