@model ClickServ2022.Models.Atendimento

@{
    ViewData["Title"] = "Delete";
}

<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm())
        {
            <div class="modal-header">
                <h4 class="modal-title">Excluir atendimento</h4>
            </div>

            @Html.AntiForgeryToken()

            <div class="modal-body">

                <h3 style="color:red">Deseja excluir atendimento?</h3>

                <form asp-action="Delete">
                    <input type="submit" value="Sim" class="btn btn-danger" />
                     @Html.ActionLink("Não", "Index","Home",null, new { @class = "btn btn-primary"})
                </form>

                <div>

                </div>
            </div>
        }
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
