@model ClickServ2022.Models.Cliente

@{
    ViewData["Title"] = "AddDados";
}

<hr />
<form asp-action="AddDados">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <div class="input-group-prepend">
                <span class="input-group-text" id="validationTooltipUsernamePrepend">Buscar endereço por CEP</span>
                <input name="cep" type="text" id="cep" size="10" maxlength="9" class="form-control" />
                <input type="button" value="Buscar" class="btn btn-primary" onclick="pesquisacep();" />
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <input asp-for="Endereco.Logradouro" name="logradouro" id="logradouro" class="form-control" placeholder="Logradouro" required />
            <span asp-validation-for="Endereco.Logradouro" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <input asp-for="Endereco.Bairro" name="bairro" type="text" id="bairro" class="form-control" placeholder="Bairro" />
            <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <input asp-for="Endereco.Cidade" name="cidade" id="cidade" class="form-control" placeholder="Cidade" />
            <span asp-validation-for="Endereco.Cidade" class="text-danger"></span>
        </div>
        <div class="form-group col-md-1">
            <input asp-for="Endereco.Uf" name="uf" id="uf" class="form-control" placeholder="UF" />
            <span asp-validation-for="Endereco.Uf" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <input asp-for="Endereco.Complemento" class="form-control" placeholder="Complemento" />
            <span asp-validation-for="Endereco.Complemento" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <input asp-for="Endereco.Observacao" class="form-control" placeholder="Observação" />
            <span asp-validation-for="Endereco.Observacao" class="text-danger"></span>
        </div>
    </div>

    <div class="container mt-1">
        <h4 class="bg-primary text-white text-center">Informações do equipamento</h4>
    </div>

    <div class="form-row">
        <div class="form-group col-md-2">
            <select asp-for="Equipamento.Tipo" id="equip" onclick="loadFabricante()" class="form-control" required>
                <option value="" selected="selected">Selecione</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <select asp-for="Equipamento.Fabricante" id="fabri" onclick="loadModelo()" class="form-control">
                <option value="" selected="selected">Selecione</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <select asp-for="Equipamento.Modelo" id="model" class="form-control">
                <option value="" selected="selected">Selecione</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <input asp-for="Equipamento.NSerie" class="form-control" />
            <span asp-validation-for="Equipamento.NSerie" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Criar" class="btn btn-primary" />
        @Html.ActionLink("Voltar", "Details", new { id = Model.ClienteID }, new { @class = "btn btn-primary"})
    </div>
</form>

@section Scripts {
    <!-- Adicionando JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

    <script src="~/js/cep.js"></script>
    <script src="~/js/select-equipamento.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        }
