@model ClickServ2022.Models.Cliente

@{
    ViewData["Title"] = "Create";
}


    <!-- Adicionando JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <!-- Adicionando Javascript -->
    <script>
        $(document).ready(function() {

            function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#logradouro").val("");
                $("#bairro").val("");
                $("#cidade").val("");
                $("#uf").val("");
            }

            //Quando o campo cep perde o foco.
            $("#cep").blur(function() {

                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if(validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
                        $("#logradouro").val("...");
                        $("#bairro").val("...");
                        $("#cidade").val("...");
                        $("#uf").val("...");


                        //Consulta o webservice viacep.com.br/
                        $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#logradouro").val(dados.logradouro);
                                $("#bairro").val(dados.bairro);
                                $("#cidade").val(dados.localidade);
                                $("#uf").val(dados.uf);

                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });
        });

    </script>

<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table>
        <tr>
            <th>
                <h5>DADOS PESSOAIS:</h5>
            </th>
        </tr>
        <tr>
            <td>Nome:</td>
            <td>
                <input asp-for="Nome" class="form-control" required />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </td>
            <td>CPF:</td>
            <td>
                <input maxlength="11" asp-for="CPF" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>Telefone:</td>
            <td>
                <input asp-for="Contato.Telefone" class="form-control" />
                <span asp-validation-for="Contato.Telefone" class="text-danger"></span>
            </td>
            <td>Celular:</td>
            <td>
                <input asp-for="Contato.Celular" class="form-control" required />
                <span asp-validation-for="Contato.Celular" class="text-danger"></span>
            </td>
            <td>E-mail:</td>
            <td>
                <input asp-for="Contato.Email" class="form-control" />
                <span type="email" asp-validation-for="Contato.Email" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <h5>ENDEREÇO:</h5> 
            </td>
            <td>
                <p class="font-weight-bold">
                      Pesquisa por CEP:<input name="cep" type="text" id="cep" value="" size="10" maxlength="9" class="form-control" />
                </p>
            </td>
        </tr>
        <tr>
            <td>Logradouro:</td>
            <td>
                <input asp-for="Endereco.Logradouro" name="logradouro" id="logradouro" class="form-control" />
                <span asp-validation-for="Endereco.Logradouro" class="text-danger"></span>
            </td>
            <td>Complemento:</td>
            <td>
                <input asp-for="Endereco.Complemento"  class="form-control" />
                <span asp-validation-for="Endereco.Complemento" class="text-danger"></span>
            </td>
            <td>Bairro:</td>
            <td>
                <input asp-for="Endereco.Bairro"  name="bairro" type="text" id="bairro" class="form-control" />
                <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>Cidade:</td>
            <td>
                <input asp-for="Endereco.Cidade"  name="cidade" id="cidade" class="form-control" />
                <span asp-validation-for="Endereco.Cidade" class="text-danger"></span>
            </td>
            <td>Estado:</td>
            <td>
                <input asp-for="Endereco.Uf"  name="uf" id="uf" class="form-control" />
                <span asp-validation-for="Endereco.Uf" class="text-danger"></span>
            </td>
            <td>Observação:</td>
            <td>
                <input asp-for="Endereco.Observacao" class="form-control" />
                <span asp-validation-for="Endereco.Observacao" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <th>
                <h5>EQUIPAMENTO:</h5>
            </th>
        </tr>
        <tr>
            <td>Tipo:</td>
            <td>
               <select asp-for="Equipamento.Tipo" id="equip" onclick="loadFabricante()" class="form-control">
                    <option value="" selected="selected">Selecione</option>
                </select>
            </td>
            <td>Fabricante:</td>
            <td>
                 <select asp-for="Equipamento.Fabricante" id="fabri"  onclick="loadModelo()" class="form-control">
                <option value="" selected="selected">Selecione</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Modelo:</td>
            <td>
                 <select asp-for="Equipamento.Modelo" id="model" class="form-control">
                 <option value="" selected="selected">Selecione</option>
                </select>
            </td>
            <td>Nº série:</td>
            <td>
                <input asp-for="Equipamento.NSerie" class="form-control" />
                <span asp-validation-for="Equipamento.NSerie" class="text-danger"></span>
            </td>
        </tr>
    </table>
    </br>
    <div class="form-group">
        <input type="submit" value="Criar" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
    </div>
</form>


<script>
window.onload = 
 function loadEquipamento(){
    fetch('/Equipamento/Equipamento', {
        method: 'GET',
        headers: {'Content-Type':'application/json;charset=UTF-8'}, 
    })
    .then(T => T.json())
    .then(tipo => {
       for (let objJSON of tipo) {          
        //popular select
        const 
        tiposSelect = document.getElementById("equip");
        
        const tiposList = {
            tipo: objJSON.equipamento
        };
        
        for(tipo in tiposList) {
            option = new Option(tiposList[tipo], tiposList[tipo]);
            tiposSelect.options[tiposSelect.options.length] = option;
        }
        //fim select
        }
    })
}

function loadFabricante(){
    clearFabricante();
    clearModel();
    var select = document.getElementById("equip");
    var opcaoTexto = select.options[select.selectedIndex].text;
    var fabri = 'fabri='+opcaoTexto

    fetch('/Equipamento/Fabricante', {
        method: 'POST',
        headers: {'Content-Type': 'application/x-www-form-urlencoded'}, 
        body: fabri
    })
    .then(T => T.json())
    .then(fabricante => {

        for (let objJSON of fabricante) {         
            //popular select
            const fabricantesSelect = document.getElementById("fabri");
            
            const fabricantesList = {
                tipo: objJSON.nomeFabricante
            };
                    
        for(fabri in fabricantesList) {
            option = new Option(fabricantesList[fabri], fabricantesList[fabri]);
            fabricantesSelect.options[fabricantesSelect.options.length] = option;
        }
            //fim select
        }
    })
}

function loadModelo(){
    clearModel();
    var select = document.getElementById("fabri");
    var opcaoTexto = select.options[select.selectedIndex].text;
    var model = 'model='+opcaoTexto

    fetch('/Equipamento/Modelo', {
        method: 'POST',
        headers: {'Content-Type': 'application/x-www-form-urlencoded'}, 
        body: model
    })
    .then(T => T.json())
    .then(modelo => {

        for (let objJSON of modelo) {         
            //popular select
            const modelosSelect = document.getElementById("model");
            
            const modelosList = {
                tipo: objJSON.nomeModelo
            };
                    
        for(model in modelosList) {
            option = new Option(modelosList[model], modelosList[model]);
            modelosSelect.options[modelosSelect.options.length] = option;
        }
           //fim select
        }
    })
}

function clearFabricante(){
    var fabri = document.getElementById("fabri");

    while(fabri.length){
        fabri.remove(0);
    }

}

function clearModel(){
     var model = document.getElementById("model");

    while(model.length){
        model.remove(0);
    }
}
</script>


@section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
        }
